html, body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  font-size: 2em; /* AGIGUNTO post esercizio*/
}
#logo {
  width: 8%;
  padding: 1rem 0;   /* AGIGUNTO post esercizio*/
}
#header {
  text-align: center;
}
#headersplitter {
  border: 1px solid;
  color: #ffd877;
}
#thanksgiving {
  margin: 0px;
  padding: 2rem;
  background-color: #fdfbf1;
  border-top: 2px solid #ffd877;
}
#videoholder {
  width: 100%;
}
.container {
  /*border: 2px solid black;         per vedere i margini della pagina*/
  width: 50vw;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}
#video {
  width: 100%;
}
#videoholder div {
  text-align: center;
}
#videoholder blockquote {
  color: #999999;
}

.featured {
  color: red;
  padding: 0 2rem;
  border-left: 4px solid #ffd877;
}
.link , #thanksgiving {
  color: #107777;
}
.section-title {
  margin: 0px;
  padding: 2rem 0;
  border-bottom: 4px solid #c4f3f2;
}
li{                     /* AGIGUNTO post esercizio*/
    margin-bottom: 2%;
}
ul{
    padding-left: 5rem;
}