html body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  font-size: 2em;
}
#logo {
  width: 8vw;
}
#header {
  text-align: center;
}
#headersplitter {
  border: 1px solid;
  color: #ffd877;
}
#thanksgiving {
  margin: 0px;
  padding: 16px;
  background-color: #fdfbf1;
  border-top: 2px solid #ffd877;
}
#videoholder {
  width: 100%;
}
.container {
  /*border: 2px solid black;         per vedere i margini della pagina*/
  width: 50vw;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}
#video {
  width: 100%;
}
#videoholder div {
  text-align: center;
}
#videoholder blockquote {
  color: #999999;
}

.featured {
  color: red;
}
.link {
  color: #107777;
}
.section-title {
  margin: 0px;
  padding: 18px;
  border-bottom: 4px solid #c4f3f2;
}
